fastapi==0.115.11
uvicorn==0.34.0
motor==3.7.0
python-multipart==0.0.20
python-dotenv==1.0.1
pydantic==2.10.6
spotipy==2.23.0
yt-dlp==2024.3.10 
pytube==12.1.0
ytmusicapi==0.26.0
google-api-python-client